<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../css/orders.css">
    <title>Document</title>
</head>
<body>
    <div class="users"> <div class="row">
        <div class="col-md-12">
           <div class="table-responsive"></div>
            <table class="table table-striped">
                <thead>
                    <tr style="background-color: #ddd">
                        <th scope="col"><input type="checkbox"></th>
                        <th scope="col">Name</th>
                        <th scope="col">Employee Id</th>
                        <th scope="col">Email</th>
                        <th scope="col">Designation</th>
                        <th scope="col">Salary</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Address</th>
                        <th scope="col">status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                       <td scope="col"><input type="checkbox"></td>
                        <td>sdfghjk</td>
                        <td>4567890</td>
                        <td>dfghjk@sdfghj.com</td>
                        <td>dfghjkl</td>
                        <td>12456789</td>
                        <td>45678906789</td>
                        <td>dfghjkl</td>
                        <td>dfghjkl</td>
                    </tr>
                    <tr>
                         <td scope="col"><input type="checkbox"></td>
                        <td>sdfghjk</td>
                        <td>4567890</td>
                        <td>dfghjk@sdfghj.com</td>
                        <td>dfghjkl</td>
                        <td>12456789</td>
                        <td>45678906789</td>
                        <td>dfghjkl</td>
                        <td>dfghjkl</td>
                    </tr>
                    <tr>
                        <td scope="col"><input type="checkbox"></td>
                        <td>sdfghjk</td>
                        <td>4567890</td>
                        <td>dfghjk@sdfghj.com</td>
                        <td>dfghjkl</td>
                        <td>12456789</td>
                        <td>45678906789</td>
                        <td>dfghjkl</td>
                        <td>dfghjkl</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">AddAdmin</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary btn-block">Edit Admin</button>
        </div>
        <div class="col-md-3">
            <button type="button" class="btn btn-primary  btn-block">View Details</button>
        </div>
         <div class="col-md-3">
            <button type="button" class="btn btn-primary  btn-block">Delete</button>
        </div>
    </div>
    </div>
</body>
</html>